<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls Detail</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">

</head>
<body>
<div class="header">
<h1>Polls Application</h1>
</div>
<div style="margin-left: 100px;margin-top: 50px;">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>