{% extends 'polls/base.html' %}
{% block content %}
    <h1>Que.{{ question.id}}</h1>
    <h1>{{ question.question_text }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" style="">
    {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}" >{{ choice.choice_text }}</label><br>
         {% endfor %}
    <br>
    <input type="submit" value="Vote" style="background-color: #e7e7e7; color: black;padding: 12px 22px;margin: 4px 300px;">
    </form>
{% endblock %}
