{% extends 'polls/base.html' %}
{% block content %}

    <h1>Questions</h1>
    {% if latest_question_list %}
    <ol>
    {% for question in latest_question_list %}
        <li style = "padding: 30px;"><a href="{% url 'polls:detail' question.id %}" style = "text-decoration: none;color: #2E4E63;">{{ question.question_text }}</a></li>
    {% endfor %}
    </ol>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
{% endblock %}